RewriteEngine on


RewriteBase /vakantiehuizen

RewriteRule ^home$ index.php?pagina=home
RewriteRule ^vakantiehuizen$ index.php?pagina=vakantiehuizen
RewriteRule ^contact$ index.php?pagina=contact
RewriteRule ^admin_panel$ index.php?pagina=admin_panel
RewriteRule ^toevoegen$ index.php?pagina=toevoegen
RewriteRule ^edit$ index.php?pagina=edit

ErrorDocument 403 /index.php
ErrorDocument 404 /index.php